:root { --base-colour: #AB4642; }
body { background: url('/crossword.png'); }
a, a:visited, a:hover, a:active { color: var(--base-colour); }
section {
	background: white;
	color: #2a2a2a;
	border: 1px solid #DDDDDD;
	border-top: .25em solid var(--base-colour);
	border-radius: .25em;
}
section > a:target {
	display: block;
	position: relative;
	top: -20px;
	visibility: hidden;
}
section > ul {
	position: relative;
	list-style: none;
	padding-left: 0;
}
aside {
	text-transform: uppercase;
	right: -19rem;
	width: 16rem;
	display: inline;
	position: absolute;
	color: var(--base-colour);
	font-weight: lighter;
	font-size: x-small;
	letter-spacing: 1.2px;
}
dt {
	font-weight: inherit;
	font-style: italic;
}
li > p:first-of-type {
	margin-top: 0;
	padding-top: 0;
}
section li ul li:last-of-type { padding-bottom: 24px; }
li:not(:last-of-type) > p:last-of-type { padding-bottom: 24px; }
li li { margin: 3px 0px; }
li ul { list-style: disc; }
q { font-style: italic; }
i:not(.fa-fw){ color: white; }
i.fa-fw, .back-to-top > i  { color: var(--base-colour); }
/* i[type="button"]{ cursor: pointer; } */
.note { font-size: smaller; } .note::before { content: "["; } .note::after { content: "]"; }
.me { font-style: italic; }
.box-shadow { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2); }
.back-to-top {
	width: 3.5em;
	height: 3.5em;
	margin: 0;
	padding: .2em .4em;
}
#header {
	background: var(--base-colour);
	color: white;
	text-shadow: 1px 1px 2px black;
}
#sidenav {
	margin-top: 24px;
	padding-top: 0px;
}
#sidenav.affix { margin-top: 12px; }
#sidenav > li {
	border-left: .15em solid transparent;
	padding-left: .5em;
	margin: 0 0 1rem;
}
#sidenav > li.active { border-left: .15em solid var(--base-colour); }
#sidenav i { margin-right: .25em; }
